{# src/AppBundle/Resources/views/Hello/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h1>Hello  {{ name }} from 'src/AppBundle/Resources/views/Hello/index.html.twig'.</h1>
{% endblock %}